doctype html
html
	head
		include head
		title= "game"
		link(rel='stylesheet', href='../css/navbar.css')
		script(type='text/javascript').
			// globals
			var boardRows = 9;
			var boardCols = 12;
			var boardRatio = 11.0/8.0;
			var numTiles = boardRows*boardCols;
			var trayCols = 6;

			window.onload = function() {
				var socket = io.connect(document.URL);

				// draw and tray
				draw();
			}

			function onResize() {
				draw();
			}

			function draw() {
				var board = document.getElementById("board");
				var boardContext = board.getContext("2d");

				// fit board to container
				board.width  = board.offsetWidth;
				board.height = board.offsetWidth/boardRatio;

				// this draws the board outline
				boardContext.strokeRect(0, 0, board.width, board.height); 

				// get tile width and height
				var tileWidth = board.width/boardCols;
				var tileHeight = board.height/boardRows;
				// iterate through rows and cols
				for(var i = 0; i < numTiles; i++) {
					// get row and column
					row = Math.floor(i/12);
					col = (i % 12);

					// get tile position and text
					tileX = col*tileWidth;
					tileY = row*tileHeight;
					tileText = tileName(i);

					// draw tile
					drawTile(boardContext, tileX, tileY, tileWidth, tileHeight, tileText);
				}

				// draw tray
				drawTray(tileWidth, tileHeight);
			}

			function tileName(tileNum) {
				var rowNum = Math.floor(tileNum/12);
				var colNum = (tileNum % 12)+1;
				var rowString = String.fromCharCode(rowNum + 65);
	
				return colNum + "-" + rowString;
			}

			function drawTray(tileWidth, tileHeight) {
				var tray = document.getElementById("tray");
				var trayContext = tray.getContext("2d");

				tray.style.width = tileWidth*trayCols;
				tray.style.height = tileHeight;
				tray.width  = tray.offsetWidth;
				tray.height = tray.offsetHeight;

				for(var col = 0; col < trayCols; col++) {
					tileX = col*tileWidth;
					tileText="0-Z";
					drawTile(trayContext, tileX, 0, tileWidth, tileHeight, tileText);
				}
			}

			function drawTile(ctx, x, y, width, height, text) {
				// begin path
				ctx.beginPath();

				// draw tile border
				ctx.rect(x, y, width, height);

				// fill tile
				ctx.fillStyle = "white";
				ctx.fill()

				// draw text
				ctx.fillStyle = "black";
				ctx.font = "8pt arial";		// choose text size based on canvas size?
				var textX = x + (width  - ctx.measureText(text).width)/2.0;
				var textY = y + height/2.0;
				ctx.fillText(text, textX, textY);

				// stroke tile
				ctx.stroke();
			}
	body(onresize="onResize()")
	div.container
		include navbar
		div.board-container(style="width: 100%")
			canvas(id="board", style="width: 100%")
		div.tray-container
			canvas(id="tray")
